/* Menu nav hover*/
.menu a {
    transition: .5s;
}

.menu a:hover {
    background-color: #a9d4eb;
    transition-timing-function: cubic-bezier(.17,.67,.82.5,.67);
    animation-fill-mode: both;
}


/* DIV, boites de contenu */
div, .grosDiv, .butProto {
    transition: .5s;
}

div:hover, .grosDiv:hover {
    box-shadow: 5px 10px 15px #81A1B2;
    animation-fill-mode: both;
}

.butProto:hover {
    box-shadow: 5px 5px 5px #81A1B2;
    animation-fill-mode: both;
}


/* Petit commentaire section Résultat */
.comResul {
    transition: .5s;
}

.comResult:hover {
    font-size: 2.50px;
    animation-fill-mode: both;
}


/* Agrandissement images */
.ImgStep, .maquettes {
    /* transition: 2s; */
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.ImgStep:hover {
    /* font-size: larger;
    animation-fill-mode: both; */
    /* L'image est grossie de 2.55% */
    -webkit-transform:scale(2.5); /* Safari et Chrome */
    -moz-transform:scale(2.5); /* Firefox */
    -ms-transform:scale(2.5); /* Internet Explorer 9 */
    -o-transform:scale(2.5); /* Opera */
    transform:scale(2.5);
}

.maquettes:hover {
    /* font-size: larger;
    animation-fill-mode: both; */
    /* L'image est grossie de 2.55% */
    -webkit-transform:scale(1.5); /* Safari et Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* Internet Explorer 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}