/* section, séparer en 2 colonnes */
section {
    /* float: left; */
    width: 50%;
    /* column-count: 2; */
}

/* Blocs G et D dans "étapes" */
.blocG {
    width: 60%;
    display: flex;
    align-items: left;
    justify-content: left;
    float: left;
    margin-left: 5%;
}


.blocD {
    width: 60%;
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
    margin-right: 5%;
}


/* IMG */
.ImgStep {
    display: flex;
    width: 300px;
    height: auto;
    margin: auto;
    /* float: left; */
    border-radius: 10px;
    vertical-align: middle;
    margin-top: 5%;
}

.step2 {
    height: 300px;
    width: auto;
}

