/* Onglet Prototype - test*/
.maquetteTexte {
    width: 50%;
    display: grid;
    grid-area: texte;
}

.maquettes {
    width: 30%;
}

/* .maquette1 {
    display: grid;
} */

/* .maquette1 {
    grid-area: 1;
}

.maquette2 {
    grid-area: 2;
}

.maquette3 {
    grid-area: 3;
}

.maquette4 {
    grid-area: 4;
}

.maquette5 {
    grid-area: 5;
}


.maquettePlan {
    display: grid;
    grid-template-columns: 400px 100px 100px 100px;
    grid-template-rows: auto;
    grid-template-areas:
    "texte texte texte 1 2"
    "3 4 . . 5";
} */

p.maquetteTitre {
    align-items: center;
    justify-content: center;
    }


/* Bouttons Prototype */
.butProto {
    /* display: flex; */
    background-color: #D1EFFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: auto;
}

.lesBoutons {
    display: flex;
    margin-bottom: 5%;
    margin-top: -2%;
}


/* Images */ 
.ImgProto {
    width: 1200px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 2%;
}

.MaImg {
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}


/* div bugé */
.grosDiv2 {
    display: grid;
}