/* Vidéo résultat final */
.videoFin {
    width: 1200px;
    height: auto;
    display: block;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 2%;
  }

 .comResul {
   padding-left: 2%;
   text-align: center;
   font-style: italic;
 }